@import "../../lib/hood/src/less/hood/variables.less";

@theme-grey: #A8A8A8;
@theme-light: #d6d6d6;
@theme-dark: #5B0000;
@theme-color: #a80d0d;
@brand-primary: @theme-color;

@brand-success: #20A55E;
@brand-info: #25b7d3;
@brand-warning: #CC9700;
@brand-danger: #EA572D;

@dark-color: #1e1e1e;
@body-color: #555;
@heading-color: #444;
@accent-color: red;
@header-submenu-hover-background-color: @dark-color;
@mega-menu-gutter: 0px;
@topbar-border: 0;
@header-submenu-padding: 6px;

@border-radius-base: 4px;
@border-radius-large: 4px;
@border-radius-small: 4px;

@body-font: 'Source Sans Pro', sans-serif;
@headings-font-family: 'Source Sans Pro', sans-serif;
@heading-font: @headings-font-family;
@link-font: 'Source Sans Pro', sans-serif;
@secondary-font: 'Source Sans Pro', sans-serif;

