﻿﻿﻿body {
    .order-details-page {
        .voucher-download {
            background-color: #e9f2f5;
            padding: 15px;
            text-align: center;
            margin-bottom: 25px;

            h3 {
                margin: -15px -15px 15px;
                padding: 15px;
                background-color: #b4d2de;
            }
        }

        ul.info-list {
            padding: 10px 25px;

            li {
                list-style-type: none;

                span.label {
                    background: @theme-light;
                    margin-right: 10px;
                    padding: 5px 10px;
                    display: inline-block;
                }
            }
        }

        .order-overview {
            margin: 0 0 50px;
            line-height: 26px;
            text-align: center;
            font-size: 16px;
            color: #444;

            li {
                list-style-type: none;

                &.order-number {
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }

                &.order-total {
                    strong {
                        font-weight: normal;
                    }
                }
            }
        }

        .repost .button-2 {
            display: inline-block;
            margin: 10px 0;
            border: none;
            padding: 10px 15px;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
        }

        .download a {
            font-weight: normal;
        }

        .download a:hover {
            text-decoration: underline;
        }


        .tax-shipping-info {
            margin: 30px 0;

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .data-table {
            display: block;

            colgroup,
            thead {
                display: none;
            }

            tbody {
                display: block;
                overflow: hidden;
            }

            tr {
                display: block;
                float: left;
                width: 100%;
                margin: 40px 0 0;
            }

            td {
                display: block;
                border: none;
                padding: 10px;
            }

            td.product,
            td.tracking-number {
                min-width: 0;
                padding: 15px 10px 15px;
                text-align: center;
                background-color: @theme-light;
            }
        }

        .actions {
            padding: 25px 15px;

            input {
                display: block;
                min-width: 100%;
                border: none;
                padding: 10px 20px;
                font-size: 15px;
                color: #fff;
            }
        }

        .totals.section {
            width: 370px;
            padding: 0 10px;
            max-width: 100%;
            margin: 0 0 50px auto;

            .total-info {
                padding: 15px 20px;
                color: #444;

                table.cart-total {
                    width: 100%;
                }
            }
        }
    }

    .user-agreement-page {

        .terms-of-agreement {
            margin: 0 0 20px;
            padding: 20px;
            text-align: center;
        }

        .button-1 {
            min-width: 140px;
            border: none;
            padding: 10px 30px;
            text-align: center;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
