﻿nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    background-color: @theme-dark;
    color: white;
    padding: 25px;
    padding-right: 80px;
    .transition(all .5s ease-in-out);
    .transform(translateX(-100%));

    h4 {
        padding: 10px 25px;
        background: #ffffff;
        margin: -30px -80px 0px -25px;
        color: white;
        padding-bottom: 0;

        img {
            max-width: 65%;
        }
    }

    a {
        color: white;
        display: block;
        padding: 15px 55px;
        position: relative;
        display: block;

        &:hover {
            color: black;
        }
    }

    ul {
        margin-right: -80px;
        margin-left: -25px;
        margin-bottom: 0;
        padding: 0;
        float: none !important;

        li {
            list-style-type: none;

            a {
                font-weight: bold;
            }
        }
    }
}
